<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.alfredapp.dverb.watchnow</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>1CFEEA2D-0D40-4D9E-8195-5DFB7D337160</key>
		<array/>
		<key>B400BCE4-1E6F-4346-9F29-A7A21A377F39</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1CFEEA2D-0D40-4D9E-8195-5DFB7D337160</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>CD01D83F-EF8D-47BE-BAD9-A94DCF2DECC4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B400BCE4-1E6F-4346-9F29-A7A21A377F39</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>dverb</string>
	<key>description</key>
	<string>Search for movies or TV shows to find which platforms they are streaming on!</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Watch Now</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>keyword</key>
				<string>watch</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Search for "{query}"...</string>
				<key>script</key>
				<string>python watchmovie.py "{query}"
</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Search for "{query}"</string>
				<key>title</key>
				<string>Searching Content</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>CD01D83F-EF8D-47BE-BAD9-A94DCF2DECC4</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>68</integer>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Gathering info for {query}</string>
				<key>script</key>
				<string>python showstreams.py</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Gathering info for {query}</string>
				<key>title</key>
				<string>Gathering info for {query}</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B400BCE4-1E6F-4346-9F29-A7A21A377F39</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string>com.microsoft.edgemac</string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>1CFEEA2D-0D40-4D9E-8195-5DFB7D337160</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>More details at https://github.com/dverb20/watch_now_workflow
Requires Python

I use Microsoft Edge for streaming but users should pick their favorite browser!</string>
	<key>uidata</key>
	<dict>
		<key>1CFEEA2D-0D40-4D9E-8195-5DFB7D337160</key>
		<dict>
			<key>xpos</key>
			<integer>595</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>B400BCE4-1E6F-4346-9F29-A7A21A377F39</key>
		<dict>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
		<key>CD01D83F-EF8D-47BE-BAD9-A94DCF2DECC4</key>
		<dict>
			<key>xpos</key>
			<integer>60</integer>
			<key>ypos</key>
			<integer>215</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>omdb_api_key</key>
		<string>1bf8d40a</string>
	</dict>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0</string>
	<key>webaddress</key>
	<string>https://github.com/dverb20</string>
</dict>
</plist>
